@model UserProfile

@{
    ViewData["Title"] = $"Edit profile";
    Layout = "~/Views/Shared/_profileLayout.cshtml";
}
<div class="profileBackground">
    <div id="homeBtn">
        <a asp-controller="Profile" asp-action="Index" asp-route-id="@User.FindFirst("UserId").Value"><button>V</button></a>
    </div>
    <form asp-action="Edit" id="editProfile" class="container" enctype="multipart/form-data">
        <div class="profileCard cardGrid">
            <div class="profilePlaceholder container">
                <label asp-for="File"><img src="@("~/img/"+@Model.FileName)" asp-append-version="true"
                     alt="placehodler.svg" /></label>
                <input asp-for="File" style="display: none;"/>
            </div>
            <div class="profileName">
                <div id="firstnameField">
                    <input asp-for="FirstName" type="text"
                           placeholder="@Model.FirstName" />
                    <span class="error"></span>
                </div>
                <div id="lastnameField">
                    <input asp-for="LastName" type="text"
                           placeholder="@Model.LastName" />
                    <span class="error"></span>
                </div>
            </div>
            <div class="profileRole">
                <span>Admin</span>
            </div>
            <div class="profileStreetName">
                <span>Street Name</span>
                <div id="streetNameField">
                    <input asp-for="StreetName" type="text"
                           placeholder="@Model.StreetName" />
                    <span class="error"></span>
                </div>
            </div>
            <div class="profilePostalCode">
                <span>Postal Code</span>
                <div id="postalCodeField">
                    <input asp-for="PostalCode" type="text"
                           placeholder="@Model.PostalCode" />
                    <span class="error"></span>
                </div>
            </div>
            <div class="profileCity">
                <span>City</span>
                <div id="cityField">
                    <input asp-for="City" type="text"
                           placeholder="@Model.City" />
                    <span class="error"></span>
                </div>
            </div>
            <div class="profileCountry">
                <span>Country</span>
                <div id="countryField">
                    <input asp-for="Country" type="text"
                           placeholder="@Model.Country" />
                    <span class="error"></span>
                </div>
            </div>
            <div class="profileEmail">
                <span>Emailaddress</span>
                <div id="emailField">
                    <input asp-for="Email" type="email"
                           placeholder="@Model.Email" />
                    <p class="emailDisplay">Note that this is only your display email.<br />To change account email, go to Account Settings.</p>
                </div>
            </div>
        </div>
        <div class="profileInfo">
            <div class="cardGrid container">
                <h1>About me</h1>
                <div class="bio container">
                    <textarea asp-for="Bio" placeholder="Write about yourself"
                              class="questionField"></textarea>
                </div>
                <div class="contentBtns"><button type="submit" class="learnBtn">Save</button></div>
            </div>
        </div>
    </form>
</div>
