@model UserProfile
@{
    ViewData["Title"] = $"Profile - {@Model.FirstName} {@Model.LastName}";
    Layout = "~/Views/Shared/_profileLayout.cshtml";
}

<div class="profileBackground">
    <div id="homeBtn">
        <a asp-controller="Home" asp-action="Index"><button>V</button></a>
    </div>
    <div id="profile" class="container">
        <div class="profileCard cardGrid">
            <div class="profilePlaceholder container">
                @if(@Model.FileName != null)
                {
                    <img src="@("~/img/"+@Model.FileName)" asp-append-version="true"
                     alt="placehodler.svg" />
                }
                else
                {
                    <img src="/img/profile_placeholder.svg"
                     alt="placehodler.svg" />
                }
                
            </div>
            <div class="profileName">
                <span>@Model.FirstName @Model.LastName</span>
            </div>
            <div class="profileRole">
                <span> @await ProfileManager.ReadRoleAsync(User.FindFirst("UserId").Value)</span>
            </div>
            <div class="profileStreetName">
                <span>Street Name</span>
                <p class="mt-3">@Model.StreetName</p>
            </div>
            <div class="profilePostalCode">
                <span>Postal Code</span>
                <p class="mt-3">@Model.PostalCode</p>
            </div>
            <div class="profileCity">
                <span>City</span>
                <p class="mt-3">@Model.City</p>
            </div>
            <div class="profileCountry">
                <span>Country</span>
                <p class="mt-3">@Model.Country</p>
            </div>
            <div class="profileEmail">
                <span>Emailaddress</span>
                <p class="mt-3">@Model.Email</p>
            </div>
        </div>
        <div class="profileInfo">
            <div class="cardGrid container">
                <h1>About me</h1>
                <div class="bio container">
                    <textarea placeholder="Write about yourself"
                              class="questionField"
                              disabled>@Model.Bio
</textarea>
                </div>
                <div class="contentBtns"><a asp-controller="Profile" asp-action="Edit" asp-route-id="@User.FindFirst("UserId").Value"><button class="learnBtn">Edit profile</button></a></div>
            </div>
        </div>
    </div>
</div>